// vim:fileencoding=utf-8:foldmethod=marker:filetype=scss:foldenable

// ---------------------------------------------------------------------------------------------------------------------- //

// ███████╗███████╗██╗     ██╗     ██╗     ██╗     ██████╗ ██████╗ ███╗   ██╗███████╗██╗ ██████╗    ██╗  ██╗██████╗ ██╗
// ╚══███╔╝██╔════╝██║     ██║     ██║     ██║    ██╔════╝██╔═══██╗████╗  ██║██╔════╝██║██╔════╝    ██║ ██╔╝██╔══██╗██║
//   ███╔╝ █████╗  ██║     ██║     ██║     ██║    ██║     ██║   ██║██╔██╗ ██║█████╗  ██║██║  ███╗   █████╔╝ ██║  ██║██║
//  ███╔╝  ██╔══╝  ██║     ██║     ██║██   ██║    ██║     ██║   ██║██║╚██╗██║██╔══╝  ██║██║   ██║   ██╔═██╗ ██║  ██║██║
// ███████╗███████╗███████╗███████╗██║╚█████╔╝    ╚██████╗╚██████╔╝██║ ╚████║██║     ██║╚██████╔╝██╗██║  ██╗██████╔╝███████╗
// ╚══════╝╚══════╝╚══════╝╚══════╝╚═╝ ╚════╝      ╚═════╝ ╚═════╝ ╚═╝  ╚═══╝╚═╝     ╚═╝ ╚═════╝ ╚═╝╚═╝  ╚═╝╚═════╝ ╚══════╝

// ---------------------------------------------------------------------------------------------------------------------- //

//: Tmux keybindings: {{{
keybinds clear-defaults=true{
	// Normal mode:
	normal { bind "Alt c" { Copy; }; } // key if 'copy_on_select=false'

	// Locked mode:
	locked {
		bind "Alt g" { SwitchToMode "Normal"; }
		bind "Alt h" { MoveFocus "Left"; }
		bind "Alt j" { MoveFocus "Down"; }
		bind "Alt k" { MoveFocus "Up"; }
		bind "Alt l" { MoveFocus "Right"; }
		bind "Alt n" { FocusNextPane; }
		bind "Alt p" { FocusPreviousPane; }
		bind "Alt c" { Copy; }
	}

	// Resize mode:
	resize {
		bind "Ctrl c" "Esc" { SwitchToMode "Normal"; }
		bind "=" "+"        { Resize "Increase"; }
		bind "-"            { Resize "Decrease"; }
		bind "h"            { Resize "Increase Left"; }
		bind "j"            { Resize "Increase Down"; }
		bind "k"            { Resize "Increase Up"; }
		bind "l"            { Resize "Increase Right"; }
		bind "H"            { Resize "Decrease Left"; }
		bind "J"            { Resize "Decrease Down"; }
		bind "K"            { Resize "Decrease Up"; }
		bind "L"            { Resize "Decrease Right"; }
	}

	// Move mode:
	move {
		bind "Ctrl c" "Esc" { SwitchToMode "Normal"; }
		bind "]"            { MovePane; }
		bind "["            { MovePaneBackwards; }
		bind "h"            { MovePane "Left"; }
		bind "j"            { MovePane "Down"; }
		bind "k"            { MovePane "Up"; }
		bind "l"            { MovePane "Right"; }
	}

	// Scroll mode:
	scroll {
		bind "Ctrl c" "Esc" "i" { ScrollToBottom; SwitchToMode "Normal"; }
		bind "/"                { SwitchToMode "EnterSearch"; SearchInput 0; }
		bind "e"                { EditScrollback; SwitchToMode "Normal"; }
		bind "k"                { ScrollUp; }
		bind "j"                { ScrollDown; }
		bind "Ctrl b"           { PageScrollUp; }
		bind "Ctrl f"           { PageScrollDown; }
		bind "Ctrl u"           { HalfPageScrollUp; }
		bind "Ctrl d"           { HalfPageScrollDown; }
		bind "Alt c"            { Copy; } // key if 'copy_on_select=false'
	}

	// Search mode:
	search {
		bind "Ctrl c" "Esc" "i" { ScrollToBottom; SwitchToMode "Normal"; }
		bind "j"                { ScrollDown; }
		bind "k"                { ScrollUp; }
		bind "Ctrl b"           { PageScrollUp; }
		bind "Ctrl f"           { PageScrollDown; }
		bind "Ctrl u"           { HalfPageScrollUp; }
		bind "Ctrl d"           { HalfPageScrollDown; }
		bind "n"                { Search "down"; }
		bind "N"                { Search "up"; }
		bind "c"                { SearchToggleOption "CaseSensitivity"; }
		bind "w"                { SearchToggleOption "Wrap"; }
		bind "o"                { SearchToggleOption "WholeWord"; }
		bind "Alt c"            { Copy; } // key if 'copy_on_select=false'
	}
	entersearch {
		bind "Ctrl c" "Esc" { SwitchToMode "Normal"; }
		bind "Enter"        { SwitchToMode "Search"; }
		bind "Alt c"        { Copy; } // key if 'copy_on_select=false'
	}

	// Renaming modes:
	renametab {
		bind "Ctrl c" "Esc" { UndoRenameTab; SwitchToMode "Tab"; }
		bind "Enter"        { SwitchToMode "Normal"; }
	}
	renamepane {
		bind "Ctrl c" "Esc" { UndoRenamePane; SwitchToMode "Pane"; }
		bind "Enter"        { SwitchToMode "Normal"; }
	}

	// Tmux mode:
	tmux {
		// General:
		bind "Ctrl c" "Esc" { SwitchToMode "Normal"; }
		bind "Ctrl a"       { Write 1; SwitchToMode "Normal"; }
		bind "d"            { Detach; }
		bind "Q"            { Quit; }

		// Pane management:
		bind "-" { NewPane "Right"; SwitchToMode "Normal"; }
		bind "_" { NewPane "Down"; SwitchToMode "Normal"; }
		bind "e" { ToggleFloatingPanes; SwitchToMode "Normal"; }
		bind "E" { TogglePaneEmbedOrFloating; SwitchToMode "Normal"; }
		bind "f" { TogglePaneFrames; SwitchToMode "Normal"; }
		bind "z" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
		bind "x" { CloseFocus; SwitchToMode "Normal"; }
		bind "Y" { ToggleActiveSyncTab; SwitchToMode "Normal"; }
		bind "b" { BreakPane; SwitchToMode "Normal"; }
		bind "]" { BreakPaneRight; SwitchToMode "Normal"; }
		bind "[" { BreakPaneLeft; SwitchToMode "Normal"; }

		// Tab management:
		bind "c" { NewTab; SwitchToMode "Normal"; }
		bind "X" { CloseTab; SwitchToMode "Normal"; }
		bind "a" { ToggleTab; SwitchToMode "Normal"; }
		bind "1" { GoToTab 1; SwitchToMode "Normal"; }
		bind "2" { GoToTab 2; SwitchToMode "Normal"; }
		bind "3" { GoToTab 3; SwitchToMode "Normal"; }
		bind "4" { GoToTab 4; SwitchToMode "Normal"; }
		bind "5" { GoToTab 5; SwitchToMode "Normal"; }
		bind "6" { GoToTab 6; SwitchToMode "Normal"; }
		bind "7" { GoToTab 7; SwitchToMode "Normal"; }
		bind "9" { GoToTab 8; SwitchToMode "Normal"; }
		bind "9" { GoToTab 9; SwitchToMode "Normal"; }

		// Modes switching:
		bind "r" { SwitchToMode "Resize"; }
		bind "s" { SwitchToMode "Scroll"; }
		bind "/" { SwitchToMode "EnterSearch"; SearchInput 0; }
		bind "m" { SwitchToMode "Move"; }
		bind "i" { SwitchToMode "RenamePane"; PaneNameInput 0; }
		bind "I" { SwitchToMode "RenameTab"; TabNameInput 0; }

		// Session manager:
		bind "W" {
			SwitchToMode "Normal"
			LaunchOrFocusPlugin "zellij:session-manager" {
				floating true
				move_to_focused_tab true
			}
		}
	}

	// Shared except:
	shared_except "locked" {
		bind "Alt n" { FocusNextPane; }
		bind "Alt p" { FocusPreviousPane; }
		bind "Alt g" { SwitchToMode "Locked"; }
		bind "Alt h" { MoveFocus "Left"; }
		bind "Alt j" { MoveFocus "Down"; }
		bind "Alt k" { MoveFocus "Up"; }
		bind "Alt l" { MoveFocus "Right"; }
		bind "Alt [" { GoToPreviousTab; }
		bind "Alt ]" { GoToNextTab; }
		bind "Alt {" { PreviousSwapLayout; }
		bind "Alt }" { NextSwapLayout; }
	}
	shared_except "tmux" "locked" { bind "Ctrl a" { SwitchToMode "Tmux"; }; }
}
//: }}}
//: Default plugin startup {{{
plugins {
    tab-bar location="zellij:tab-bar"
    status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    compact-bar location="zellij:compact-bar"
    session-manager location="zellij:session-manager"
    welcome-screen location="zellij:session-manager" {
        welcome_screen true
    }
    filepicker location="zellij:strider" {
        cwd "/"
    }
}
//: }}}

// Theming:
// layout_dir ""
// theme_dir ""
theme "wallust"

// UI configuration:
ui {
	pane_frames {
		rounded_corners false
		hide_session_name true
	}
}

// Clipboard:
// copy_command "xclip -selection clipboard" // x11
copy_command "wl-copy"                    // wayland
// copy_command "pbcopy"                     // osx
copy_clipboard "primary"
copy_on_select false

// Options:
on_force_close "detach"
// simplified_ui true
// default_shell "fish"
// default_cwd ""
pane_frames false
// auto_layout false
styled_underlines true
session_serialization true
// default_layout "compact"
// default_mode "locked"
mouse_mode true
scroll_buffer_size 100000
// scrollback_editor "/usr/bin/vim"
// mirror_session true
