/* vim:fileencoding=utf-8:foldmethod=marker
 */

/* ------------------------------------------------------------------------------------------------------------------------- */

/*
 * ██╗    ██╗ █████╗ ██╗   ██╗██████╗  █████╗ ██████╗     ███████╗████████╗██╗   ██╗██╗     ███████╗    ██████╗███████╗███████╗
 * ██║    ██║██╔══██╗╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝   ██╔════╝██╔════╝██╔════╝
 * ██║ █╗ ██║███████║ ╚████╔╝ ██████╔╝███████║██████╔╝    ███████╗   ██║    ╚████╔╝ ██║     █████╗     ██║     ███████╗███████╗
 * ██║███╗██║██╔══██║  ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗    ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝     ██║     ╚════██║╚════██║
 * ╚███╔███╔╝██║  ██║   ██║   ██████╔╝██║  ██║██║  ██║    ███████║   ██║      ██║   ███████╗███████╗██╗╚██████╗███████║███████║
 *  ╚══╝╚══╝ ╚═╝  ╚═╝   ╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝    ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝╚═╝ ╚═════╝╚══════╝╚══════╝
 */

/* ------------------------------------------------------------------------------------------------------------------------- */

/* Import pywal theme */
@import url('file:///home/Reds/.cache/wal/colors-waybar.css');

/* Main configuration {{{ */
* {
	font-family: JetBrainsMonoNerdFont;
	font-size: 13px;
	font-weight: bold;
	border: none;
	margin: 0;
	padding: 0;
	border-radius: 10px;
}

window#waybar {
	background-color: transparent;
	border-radius: 0;
	transition-property: background;
	transition-duration: .2s;
}

window#waybar.hidden {
	opacity: 0;
	border-radius: 0;
}

/*
 * window#waybar.empty {
 *     background-color: transparent;
 * }
 * window#waybar.solo {
 *     background-color: #FFFFFF;
 * }
 */
/* }}} */
/* Tooltip {{{ */
tooltip {
	background-color: @background;
	border: 1px solid mix(@background,black,0.4);
}

tooltip label {
	color: @foreground;
	padding: 7px;
}

label:focus {
	background-color: @background;
	border: none;
}
/* }}} */
/* Modules {{{ */
/* General {{{ */
#custom-cava,
#clock,
#pulseaudio, #wireplumber,
#custom-weather,
#custom-notifications,
#keyboard-state {
	background-color: @background;
	padding: 10px 7px;
	margin: 5px;
}
/* }}} */
/* Window module {{{ */
#window {
	background-color: @color4;
	color: black;
	padding: 0 7px;
	margin: 4px 5px;
	border-bottom: 3px solid mix(@color4,black,0.3);
}

#waybar.empty #window {
	background-color: transparent;
	margin: 0;
	padding: 0;
	border: 0;
}
/* }}} */
/* Cava Module {{{ */
#custom-cava {
	color: @color4;
	border-bottom: 2px solid @color4;
}
/* }}} */
/* Workspace module {{{ */
/*
 * #workspaces {
 * }
 */

#workspaces button {
	background-color: @background;
	color: @foreground;
	padding: 10px 12px 10px 10px;
	margin: 5px 0;
	border-bottom: 2px solid @foreground;
}

#workspaces button:hover,
#workspaces button.active,
#workspaces button.urgent {
	color: black;
	margin: 4px 0;
	border-bottom: none;
}

#workspaces button:hover {
	background-color: @color6;
	border-bottom: 3px solid mix(@color6,black,0.3);
}

#workspaces button.active {
	background-color: @color4;
	border-bottom: 3px solid mix(@color4,black,0.3);
}

#workspaces button.urgent {
	background-color: @color1;
	border-bottom: 3px solid mix(@color1,black,0.3);
}
/* }}} */
/* Clock module {{{ */
#clock {
	color: @color4;
	border-bottom: 2px solid @color4;
}
/* }}} */
/* Pulseaudio/Wireplumber modules {{{ */
#pulseaudio, #wireplumber {
	color: @color3;
	border-bottom: 2px solid @color3;
}

#pulseaudio.muted, #wireplumber.muted {
	color: @color15;
	border-bottom: 2px solid @color15;
}
/* }}} */
/* Weather module {{{ */
#custom-weather {
	color: @color6;
	padding: 10px 7px 10px 12px;
	border-bottom: 2px solid @color6;
}
/* }}} */
/* Notifications module {{{ */
#custom-notifications {
	color: @color2;
	padding: 0 12px 0 10px;
	border-bottom: 2px solid @color2;
	font-size: 17px;
}
/* }}} */
/* Keyboard state module {{{ */
#keyboard-state,
#keyboard-state > label,
#keyboard-state > label.locked {
	font-size: 18px;
}

#keyboard-state {
	font-size: 25px;
	color: mix(@color1,@color3,0.5);
	border-bottom: 2px solid mix(@color1,@color3,0.5);
}

#keyboard-state > label {
	padding: 0 10px 0 7px;
}

#keyboard-state > label.locked {
	color: @foreground;
}
/* }}} */
/* Tray module {{{ */
#tray {
	background-color: @color1;
	color: @color1;
	padding: 10px;
	margin: 5px;
	border-bottom: 3px solid mix(@color1,black,0.3);
}

#tray > .passive {
	-gtk-icon-effect: dim;
}

#tray > .needs-attention {
	-gtk-icon-effect: highlight;
	background-color: @color1;
}
/* }}} */
/* Taskbar module {{{ */
button {
	background-color: @background;
}

button:hover {
	background-color: @color6;
}

#taskbar button.active {
	background-color: @color4;
}

#taskbar button.empty {
	background-color: transparent;
}

/*
 * #taskbar {
 * }
 *
 * #taskbar button {
 * }
 *
 * #taskbar button.minimized {
 * }
 *
 * #taskbar button.maximized {
 * }
 *
 * #taskbar button.fullscreen {
 * }
 */
/* }}} */
/* MPD module {{{ */
#mpd,
#mpd.disconnected,
#mpd.stopped,
#mpd.paused {
	padding: 0 7px;
	color: @background;
}

#mpd {
	background-color: @color5;
	color: black;
}

#mpd.paused {
	background-color: @color15;
}

#mpd.stopped {
	color: @foreground;
}

#mpd.disconnected {
	background-color: @color1;
}
/* }}} */
/* }}} */
