.config/rofi/images/wall.png
.config/zellij/layouts/default.kdl
.config/zellij/themes/pywal.kdl
.config/qt6ct/colors/oomox-pywal.conf
.config/qt5ct/colors/oomox-pywal.conf
.config/btop/themes/pywal.theme
.config/gnuplot/gnuplotrc
.config/zsh/.zcompdump
.config/mpv/script-opts/stats.conf
.config/mpv/mpv.conf
.config/yazi/plugins/smart-enter.yazi/init.lua
.config/zellij/themes/wallust.kdl
.config/tmux/statusbar/tmuxbar_wallust.tmux
.config/rofi/colors.rasi
.config/alacritty/alacritty_wallust.toml
.config/glow/glow_wallust.json
.config/hypr/hypr_wallust.conf
.config/kitty/kitty_wallust.conf
.config/swaync/swaync_wallust.css
.config/waybar/shared/clock_wallust.jsonc
.config/waybar/shared/waybar_wallust.css
.config/zellij/layouts/zjstatus_wallust.kdl
.config/btop/themes/wallust.theme
.config/mvi/script-opts/stats.conf
.config/btop/themes/wallust.theme
