themes {
	pywal {
		fg "#A9B1D6"
		bg "#1A1B26"
		black "#1A1B26"
		red "#F7768E"
		green "#9ECE6A"
		yellow "#E0AF68"
		orange "#FF9E64"
		blue "#7AA2F7"
		magenta "#AD8EE6"
		cyan "#449DAB"
		white "#ACB0D0"
	}
}
