/* vim:fileencoding=utf-8:foldmethod=marker:foldenable
 */

/* ------------------------------------------------------------------ */

/*
 * ███████╗████████╗██╗   ██╗██╗     ███████╗    ██████╗███████╗███████╗
 * ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝   ██╔════╝██╔════╝██╔════╝
 * ███████╗   ██║    ╚████╔╝ ██║     █████╗     ██║     ███████╗███████╗
 * ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝     ██║     ╚════██║╚════██║
 * ███████║   ██║      ██║   ███████╗███████╗██╗╚██████╗███████║███████║
 * ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝╚═╝ ╚═════╝╚══════╝╚══════╝
 */

/* ------------------------------------------------------------------ */

/* Import wallust theme */
@import url('file:///home/Reds/.config/waybar/shared/waybar_wallust.css');

/* padding: top right bottom left */
/* padding: top sides */

/* Main configuration {{{ */
* {
	font-family: JetBrainsMonoNerdFont;
	font-size: 14px;
	font-weight: bold;
	border: none;
	margin: 0;
	padding: 0;
	border-radius: 10px;
}

window#waybar {
	background: mix(@background, black, 0.3);
	border-radius: 0;
	transition-property: background;
	transition-duration: .2s;
}

window#waybar.hidden {
	opacity: 0.2;
}

#workspaces,
#window,
#custom-cava,
#mpd, #mpd.paused, #mpd.stopped, #mpd.disconnected,
#custom-notifications,
#clock,
#pulseaudio, #wireplumber,
#custom-weather,
#keyboard-state,
#tray {
	background: mix(@background, white, 0.03);
	color: @foreground;
	padding: 0 9px;
	margin: 5px 3px;
}
/* }}} */
/* Tooltip {{{ */
tooltip {
	background: mix(@background, black, 0.3);
}

tooltip label {
	color: @foreground;
	padding: 9px;
}
/* }}} */
/* Workspace module {{{ */
#workspaces {
	padding: 0 5px 0 4px;
}

#workspaces button,
#workspaces button.active,
#workspaces button.urgent,
#workspaces button:hover {
	color: @background;
	padding: 3px 9px 3px 3px;
	margin: 5px;
	border-radius: 100px;
}

#workspaces button {
	color: mix(@background, white, 0.3);
}

#workspaces button.active {
	background: @color4;
}

#workspaces button.urgent {
	background: @color1;
}

#workspaces button:hover {
	background: @color6;
}
/* }}} */
/* Cava {{{ */
#custom-cava {
	padding: 0 6px 0 3px;
}
/* }}} */
/* Window module {{{ */
#waybar.empty #window {
	background: transparent;
	margin: 0;
	padding: 0;
	border: 0;
}
/* }}} */
/* Mpd Module {{{ */
#mpd.paused, #mpd.stopped, #mpd.disconnected {
	color: @color1;
}
/* }}} */
/* Notifications module {{{ */
#custom-notifications {
	font-size: 18px;
	padding: 0 11px 0 9px;
}
/* }}} */
/* Pulseaudio/Wireplumber modules {{{ */
#pulseaudio.muted, #wireplumber.muted {
	color: @color1;
}
/* }}} */
/* Keyboard state module {{{ */
#keyboard-state,
#keyboard-state > label,
#keyboard-state > label.locked {
	font-size: 18px;
}

#keyboard-state > label {
	padding: 0 9px 0 6px;
}

#keyboard-state > label.locked {
	color: @color4;
}
/* }}} */
/* Tray module {{{ */
#tray > .passive {
	-gtk-icon-effect: dim;
}

#tray > .needs-attention {
	-gtk-icon-effect: highlight;
	background: @color1;
}
/* }}} */
