(
	open_help: Some(( code: Char('?'), modifiers: "")),

	move_left: Some(( code: Char('h'), modifiers: "")),
	move_right: Some(( code: Char('l'), modifiers: "")),
	move_up: Some(( code: Char('k'), modifiers: "")),
	move_down: Some(( code: Char('j'), modifiers: "")),

	page_up: Some(( code: Char('b'), modifiers: "CONTROL")),
	page_down: Some(( code: Char('f'), modifiers: "CONTROL")),
	home: Some(( code: Char('g'), modifiers: "")),
	end: Some(( code: Char('G'), modifiers: "SHIFT")),
	shift_up: Some(( code: Char('K'), modifiers: "SHIFT")),
	shift_down: Some(( code: Char('J'), modifiers: "SHIFT")),
	tree_collapse_recursive: Some(( code: Char('H'), modifiers: "SHIFT")),
	tree_expand_recursive: Some(( code: Char('L'), modifiers: "SHIFT")),

	popup_up: Some(( code: Char('k'), modifiers: "")),
	popup_down: Some(( code: Char('j'), modifiers: "")),

	// push: // p
	// force_push: // P
	pull: Some(( code: Char('p'), modifiers: "CONTROL")),

	diff_hunk_next: Some(( code: Char(']'), modifiers: "")),
	diff_hunk_prev: Some(( code: Char('['), modifiers: "")),

	diff_stage_lines: Some(( code: Char(' '), modifiers: "")),
	stage_unstage_item: Some(( code: Char(' '), modifiers: "")),

	stash_open: Some(( code: Char('l'), modifiers: "")),

	toggle_workarea: Some(( code: Tab, modifiers: "")),

	// stash_apply: // a
	// stash_drop: // D
	// copy: // y
	// compare_commits: // C
	// diff_reset_lines: // d
	// status_reset_item: // D
	// status_stage_all: // a
	// log_mark_commit: // Space
	// status_ignore_file: // i
	// stashing_toggle_untracked: // u
	// stashing_toggle_index: // i
	// open_options: // o
	// enter: // Enter // Pop stash & Accept fuzzy find.
	// blame: // B
	// stashing_save: // s
	// edit_file: // e
	// exit: // ^c
	// quit: // q
	// exit_popup: // Esc

	// Commits:
	// commit: // ^d
	// commit_amend: // ^a
	// open_commit_editor: // ^e
	// toggle_signoff: // ^s
	toggle_verify: Some(( code: Char('k'), modifiers: "CONTROL")), // Disable hooks.
	commit_history_next: Some(( code: Char('p'), modifiers: "CONTROL")),

	// Tab switching:
	// tab_status: // 1
	// tab_log: // 2
	// tab_files: // 3
	// tab_stashing: // 4
	// tab_stashes: // 5
	tab_toggle: Some(( code: Char(']'), modifiers: "")),
	tab_toggle_reverse: Some(( code: Char('['), modifiers: "")),

	// tags: // T
	// delete_tag: // D
	// select_tag: // Enter
	// tag_annotate: // ^a
	// log_tag_commit: // t

	log_checkout_commit: Some(( code: Char('c'), modifiers: "")),
	// log_reset_commit: // R
	// log_reword_commit: // r
	log_find: Some(( code: Char('/'), modifiers: "")),

	// undo_commit: // U
	// open_commit: // c // Overwritten by log_checkout_commit.
	// find_commit_sha: // ^j
	// file_history: // H
	// cmd_bar_toggle: // .

	// create_branch: // c
	// rename_branch: // r
	// select_branch: // b
	delete_branch: Some(( code: Char('d'), modifiers: "")),
	// merge_branch: // m
	// abort_merge: // A
	// rebase_branch: // R
	// reset_branch: // s
	branch_find: Some(( code: Char('/'), modifiers: "")),

	// open_file_tree: // F
	file_find: Some(( code: Char('/'), modifiers: "")),
	fetch: Some(( code: Char('f'), modifiers: "")),
	// view_submodules: // S
	// view_submodule_parent: // p
	// update_submodule: // u
	// newline: // Enter
)
