/* vim:fileencoding=utf-8:foldmethod=marker
 */

/* ------------------------------------------------------------------------------------------------------------------------- */

/*
 * ██╗    ██╗ █████╗ ██╗   ██╗██████╗  █████╗ ██████╗     ███████╗████████╗██╗   ██╗██╗     ███████╗    ██████╗███████╗███████╗
 * ██║    ██║██╔══██╗╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝   ██╔════╝██╔════╝██╔════╝
 * ██║ █╗ ██║███████║ ╚████╔╝ ██████╔╝███████║██████╔╝    ███████╗   ██║    ╚████╔╝ ██║     █████╗     ██║     ███████╗███████╗
 * ██║███╗██║██╔══██║  ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗    ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝     ██║     ╚════██║╚════██║
 * ╚███╔███╔╝██║  ██║   ██║   ██████╔╝██║  ██║██║  ██║    ███████║   ██║      ██║   ███████╗███████╗██╗╚██████╗███████║███████║
 *  ╚══╝╚══╝ ╚═╝  ╚═╝   ╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝    ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝╚═╝ ╚═════╝╚══════╝╚══════╝
 */

/* ------------------------------------------------------------------------------------------------------------------------- */

/* Import pywal theme */
@import url('file:///home/Reds/.cache/wal/colors-waybar.css');

/* Main configuration {{{ */
* {
	font-family: JetBrainsMonoNerdFont;
	font-size: 13px;
	font-weight: bold;
	border: none;
	margin: 0;
	padding: 0;
	border-radius: 10px;
}

window#waybar {
	background: @background_dark;
	border-radius: 10px;
	transition-property: background;
	transition-duration: .5s;
}

window#waybar.hidden {
	opacity: 0;
	border-radius: 0;
}
/* }}} */
/* Tooltip {{{ */
tooltip {
	background: @background_dark;
	border: 1px solid mix(@background_dark,black,0.4);
}

tooltip label {
	color: @foreground;
	padding: 7px;
}

label:focus {
	background: @background_dark;
	border: none;
}
/* }}} */
/* Modules {{{ */
/* General {{{ */
#clock,
#pulseaudio, #wireplumber,
#custom-weather,
#custom-notifications,
#keyboard-state {
	color: @foreground;
	margin: 0 7px;
	border-radius: 0;
	border-bottom: 2px solid @foreground;
}
/* }}} */
/* MPD module {{{ */
#mpd,
#mpd.disconnected,
#mpd.stopped,
#mpd.paused {
	color: black;
	padding: 5px;
}

#mpd {
	background: linear-gradient(to right, @color6, @color2);
}

#mpd.paused {
	background: linear-gradient(to right, @color4, @color6);
}

#mpd.stopped {
	background: linear-gradient(to right, @color2, @color3);
}

#mpd.disconnected {
	background: linear-gradient(to right, @color3, @color1);
}
/* }}} */
/* Workspace module {{{ */
/*
 * #workspaces {
 * }
 */

#workspaces button {
	background: inherit;
	color: @foreground;
	padding: 0 10px 0 6px;
}

#workspaces button:hover,
#workspaces button.active,
#workspaces button.urgent {
	color: black;
}

#workspaces button:hover {
	background: linear-gradient(to right, @color4, @color5);
}

#workspaces button.active {
	background: @foreground;
}

#workspaces button.urgent {
	background: linear-gradient(to right, @color3, @color1);
}
/* }}} */
/* Window module {{{ */
#window {
	background: linear-gradient(to right, @color4, @color6);
	color: black;
	padding: 0 5px;
}

#waybar.empty #window {
	background: transparent;
	padding: 0;
	margin: 0;
	border: 0;
	border-radius: 0;
}
/* }}} */
/* Clock module {{{ */
#clock {
}
/* }}} */
/* Pulseaudio/Wireplumber modules {{{ */
#pulseaudio, #wireplumber {
}

#pulseaudio.muted, #wireplumber.muted {
	color: @color1;
}
/* }}} */
/* Weather module {{{ */
#custom-weather {
}
/* }}} */
/* Notifications module {{{ */
#custom-notifications {
	font-size: 17px;
}
/* }}} */
/* Keyboard state module {{{ */
#keyboard-state,
#keyboard-state > label,
#keyboard-state > label.locked {
	font-size: 18px;
}

#keyboard-state {
	font-size: 25px;
}

#keyboard-state > label {
}

#keyboard-state > label.locked {
	color: @foreground;
}
/* }}} */
/* Tray module {{{ */
#tray {
	background: linear-gradient(to right, @color4, @color6);
	padding: 5px;
}

#tray > .passive {
	-gtk-icon-effect: dim;
}

#tray > .needs-attention {
	-gtk-icon-effect: highlight;
	background: @color1;
}
/* }}} */
/* }}} */
/* Taskbar module {{{ */
button {
	background: @background_dark;
}

button:hover {
	background: @color6;
}

#taskbar button.active {
	background: @color4;
}

#taskbar button.empty {
	background: transparent;
}

/*
 * #taskbar {
 * }
 *
 * #taskbar button {
 * }
 *
 * #taskbar button.minimized {
 * }
 *
 * #taskbar button.maximized {
 * }
 *
 * #taskbar button.fullscreen {
 * }
 */
/* }}} */
