* {{
	background: {background};
	background-alt: {color8};
	foreground: {foreground};
	selected: {color4};
	active: {color2};
	urgent: {color1};
	border-colour: {color4};

	color0: {color0};
	color1: {color1};
	color2: {color2};
	color3: {color3};
	color4: {color4};
	color5: {color5};
	color6: {color6};
	color7: {color7};
	color8: {color8};
	color9: {color9};
	color10: {color9};
	color11: {color9};
	color12: {color9};
	color13: {color9};
	color14: {color9};
	color15: {color9};
}}
